@import "../../css/common.scss";

@mixin ellipsis { text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }

.userUpgrade{
  padding-top:80px;

  :global {
    @include antTab;
    .ant-tabs-bar{margin-bottom: 0;}
    .ant-tabs-tabpane{padding:0 20px;}
  }

  .tabWrap{background: #fff;margin: 20px;}

  .pageTitle{
    font-size: 18px;font-weight: normal;position:relative;line-height:100%;padding:0 0 20px 10px;
    &:before{content:'';position: absolute;left:0;height:16px;width:3px;background: #e13a25;}
  }
  .pageSubTitle{
    font-size: 16px;font-weight: normal;padding: 30px 0;position:relative;line-height:100%;padding-left:10px;
    &:before{content:'';position: absolute;left:0;height:16px;width:3px;background: #e13a25;}
  }
  .chartUserSource {
    :global {.vic-area-chart-area {height:350px;}}
  }

  .tableWrap{
    padding:0 10px;
    .tableTit{
      padding: 10px;
      i{margin-right:5px;}
    }
  }

  .userBehavior{padding-bottom: 100px;}

  .preferSku{
    :global {
      .ant-table-thead > tr > th{
        background: #fff;
        border-bottom: 1px solid #999;
      }
      .ant-table-tbody > tr > td{
        span{width:25px;height:25px;display: inline-block;font-size: 14px;line-height: 25px;text-align: center;color: #fff;border-radius: 50%;}
        .rank-0{background: #cf2529;}
        .rank-1{background: #435e7a;}
        .rank-2{background: #59a1a9;}
        .rank-3{background: #cca05d;}
        .indent-level-0{display: none;}
      }
      .ant-table-tbody > tr > td.blue{color:#54728C;}
      
    }
  }

  .categoryCorrelation{
    :global {.vic-area-chart-area {height:350px;}}
    :global {
      .ant-table-thead > tr > th{
        background: #fff;
        border-bottom: 1px solid #999;
      }
      .ant-table-tbody > tr > td{
        span{width:25px;height:25px;display: inline-block;font-size: 14px;line-height: 25px;text-align: center;color: #fff;border-radius: 50%;}
        .rank-0{background: #cf2529;}
        .rank-1{background: #435e7a;}
        .rank-2{background: #59a1a9;}
        .rank-3{background: #cca05d;}
        .indent-level-0{display: none;}
      }
      .ant-table-tbody > tr > td.blue{color:#54728C;}
      
    }
  }

  .userPrefer{
    padding-bottom:100px;
    .tableWrap{
      padding:0 10px;
      td{@include ellipsis}
      .tableTit{
        padding: 10px;
        i{margin-right:5px;}
      }
    }
    .tableWrapRight{
      padding:11px 10px 0 10px;
      .tableTit{
        padding: 10px;padding-top:0;
      }
    }
    :global {
      .ant-table-thead > tr > th{
        background: #fff;
        border-bottom: 1px solid #999;
      }
      .ant-table-tbody > tr > td{
        span{width:25px;height:25px;display: inline-block;font-size: 14px;line-height: 25px;text-align: center;color: #fff;border-radius: 50%;}
        .rank-0{background: #cf2529;}
        .rank-1{background: #435e7a;}
        .rank-2{background: #59a1a9;}
        .rank-3{background: #cca05d;}
        .indent-level-0{display: none;}
      }
      .ant-table-tbody > tr > td.blue{color:#54728C;}
    }
  }

  .salesRank{
    padding-bottom:100px;
    .tableWrap{
      padding:0 10px;
      td{@include ellipsis}
      .tableTit{
        padding: 10px;
        i{margin-right:5px;}
      }
      .txtSearchWrap{padding-bottom: 20px;}
      :global .ant-table-selection{display:none;}

      :global {
        .ant-table-thead > tr > th{
          background: #fff;
          border-bottom: 1px solid #999;
        }
        .ant-table-tbody > tr > td{
          i{width:25px;height:25px;display: inline-block;font-size: 14px;line-height: 25px;text-align: center;color: #fff;border-radius: 50%;}
          .rank-0{background: #cf2529;}
          .rank-1{background: #435e7a;}
          .rank-2{background: #59a1a9;}
          .rank-3{background: #cca05d;}
          .indent-level-0{display: none;}
        }
        .ant-table-tbody > tr > td.blue{color:#54728C;}
        .ant-table-tbody > tr.hide{display:none;}
      }
    }
    .tableWrapRight{
      padding:20px;border:1px solid #eee;border-radius:5px;
      .tableTit{
        i{margin-right:5px;}
      }
      ul{
        padding:20px 0;border-bottom:1px solid #eee;
        li{padding:10px 0;}
        .pickedBrandRank0{display: inline-block;width:25px;line-height: 25px;height: 25px;text-align: center;background: #c23531;border-radius: 3px;color: #fff;font-size: 20px;}
        .pickedBrandRank1{display: inline-block;width:25px;line-height: 25px;height: 25px;text-align: center;background: #2f4554;border-radius: 3px;color: #fff;font-size: 20px;}
        .pickedBrandLogo{
          width: 150px;
        }
        .pickedBrandName0{font-size: 20px;color:#c23531;width: 100px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
        .pickedBrandName1{font-size: 20px;color:#2f4554;width: 100px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
        button{margin-left:10px;}
      }
      .rates{text-align: right;font-size: 30px;padding:10px 0;color:#e13a25;}
      .note{margin-top:30px;font-size: 12px;color:#999;}
      :global {.vic-area-chart-area {height:300px;}}
      
    }
  }
}
:global {
  .row-highlight{background: #ecf6fd;}  
}
