@mixin ellipsis { text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }

.stockMarketing{
  padding-top:80px;

  .pageCnt{
    margin:20px;
    padding:20px;
    background: #fff;

    .pageTitle{
      font-size: 18px;font-weight: normal;position:relative;line-height:100%;padding:0 0 20px 10px;
      &:before{content:'';position: absolute;left:0;height:16px;width:3px;background: #e13a25;}
    }
    .pageSubTitle{
      font-size: 16px;font-weight: normal;position:relative;line-height:100%;height:25px; padding-left:10px;
      &:before{content:'';position: absolute;left:0;height:16px;width:3px;background: #e13a25;}
    }

    .requirementInsight{
      border: 1px solid #eee;border-radius: 5px;padding:20px;

      .tableWrap{
        margin-top:20px;
        .tableTit{
          padding:10px 0;
          i{margin-right: 5px;}
        }
        .txtRankOffline{margin-top: 20px;}
        .subTableWrap{
          padding-left:20px;
          th{text-align: left;}
          :global .highlight{background: #ecf6fd;}
          .iconJD{display: inline-block;width:38px;height:38px;background: url(../../images/icon-logo-jd.png) 50% 50% no-repeat;margin-left:10px;cursor: pointer;}
          .iconPG{display: inline-block;width:38px;height:38px;background: url(../../images/icon-logo-pg.png) 50% 50% no-repeat;margin-left:10px;cursor: pointer;}
          .iconGray{filter: grayscale(100%);-webkit-filter: gray;filter: gray;opacity: .5;}
          .tab{padding-bottom: 3px}
          .subTableType{font-size: 16px;}
        }
      }

      :global {
        .ant-table-tbody > tr > td{
          span{width:25px;height:25px;display: inline-block;font-size: 14px;line-height: 25px;text-align: center;color: #fff;border-radius: 50%;}
          .rank-0{background: #cf2529;}
          .rank-1{background: #435e7a;}
          .rank-2{background: #59a1a9;}
          .rank-3{background: #cca05d;}
          .indent-level-0{display: none;}
        }
      }
    }
    .geneLinkAnalysis{
      border: 1px solid #eee;border-radius: 5px;padding:20px;margin-top: 30px;
      .toolbar{
        span{display: inline-block;width:25px;height: 25px;margin-left:10px; cursor: pointer;}
        .iconChart{background: url(../../images/icon-chart.png) 50% 50% no-repeat; }
        .iconChartOn{background: url(../../images/icon-chart-on.png) 50% 50% no-repeat; }
        .iconTable{background: url(../../images/icon-table.png) 50% 50% no-repeat; }
        .iconTableOn{background: url(../../images/icon-table-on.png) 50% 50% no-repeat; }
      }
      .geneLinkAnalysisLeft{
        padding:30px 0;
        .propList{margin-top:20px;}
      }
      .geneLinkAnalysisRight{
        padding:20px;padding-right:0;
        .treeViewWrap{
          border: 1px solid #eee;border-radius: 5px;padding:20px; height: 500px;overflow:hidden;position:relative;
          .empty{text-align: center;padding-top:200px;font-size: 20px;color:#999;}
          .fetching{text-align: center;padding-top:200px;font-size: 20px;color:#999;position:absolute;top:0;left:0;background: #fff;width:100%;height:500px;}
          .treeviewLegend{
            position: absolute;top: 30px;right: 20px;text-align: center;
            img{width:50px;}
          }
        }
      }
    }
  }
}
:global .row-highlight{background: #ecf6fd;}
  
