/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  a{
    color: #fff;
    display:block;
    padding:.2rem;
  }
  a.cur{
    background: rgba(0,0,255,.3);
  }
}

.menu-tit{
  color: #fff;
  padding:.2rem;
}

.menu-cnt{
  background: rgba(0,0,0,0.2);
  transition: all .5s linear;
  overflow: hidden;
  max-height: 0;
  a{padding-left: .5rem;}
}
.menu-cnt.expanded{
  max-height: 1000px;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}