<template name="siteConditions">
    <antm-Card full>
        <antm-CardBody>
            <antm-List>

                <#if {showDept}>
                    <antm-Picker
                            extra="全部"
                            data={toJS(conditions.deptData)}
                            value="{toJS(conditions.selectedDept)}"
                            title="选择部门"
                            onChange={onDeptChange}
                    >
                        <antm-ListItem
                                arrow="horizontal"
                        >部门</antm-ListItem>
                    </antm-Picker>
                </#if>

                <#if {showCategory}>
                    <antm-Picker
                            extra="全部"
                            data={categoryData}
                            value="{toJS(conditions.selectedCategory)}"
                            title="选择品类"
                            onChange={onCategoryChange}
                    >
                        <antm-ListItem
                                arrow="horizontal"
                        >品类</antm-ListItem>
                    </antm-Picker>
                </#if>

                <#if {showBrand}>
                    <antm-Picker
                            extra="全部"
                            cols={1}
                            data={toJS(conditions.brandData)}
                            value={selectedBrand}
                            title="选择品牌"
                            onChange={onBrandChange}
                    >
                        <antm-ListItem
                                arrow="horizontal"
                        >品牌</antm-ListItem>
                    </antm-Picker>
                </#if>

                <#if {showDate}>
                    <antm-DatePicker
                            extra="全部"
                            title="选择日期"
                            mode="month"
                            format={monthFormatter}
                            value={selectedDate}
                            onChange={onDateChange}
                    >
                        <antm-ListItem
                                arrow="horizontal"
                        >时间</antm-ListItem>
                    </antm-DatePicker>
                </#if>

                <#if {showSKU}>
                    <antm-ListItem>
                        <@extra>
                        <antm-InputItem placeholder="请输入" onChange={onSKUChange} class={styles.csInput}></antm-InputItem>
                        </@extra>
                        SKU
                    </antm-ListItem>
                </#if>
            </antm-List>
            <antm-WhiteSpace />
            <antm-Button type="primary" {onClick}>{conditionBtnContent}</antm-Button>
        </antm-CardBody>
    </antm-Card>
</template>