.accountInfo {
  h2 {margin-bottom: 15px;font-size: 16px;}
}
.personalInfo {
  padding: 100px 40px 20px;
  background-color: #fff;
  margin-bottom: 20px;
  .info:after {
    content:'';
    display: table;
    clear: both;
  }
  .info li {width: 50%; float:left; margin-bottom: 10px;}
  .tl { width:120px; text-align: right;color: #999;}
  .tr {color:#000;}
}

.accountMod {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
}

:global {
  .ant-table-thead tr th {text-align: center;}
  .ant-table-tbody tr td {
    text-align: center;padding:10px 5px;
    .btn-link {margin: 0 5px;}
  }
}
