ul.col2 {
  & > li {
    float: left;
    width: 50%;
    text-align: center;

    & > div:first-child {
      color: #b9c0cf;
      font-size: .8em;
    }

    & > div:last-child {
      color: #df4545;
      font-size: 2em;
      font-weight:bold;
      line-height: 2em;
    }
  }
}