@import "../../css/mixins";

.summaryItem{
  padding: .2rem 0;background: #f6f6f6;border-radius:10px;
  .field{
    color: #b9c0cf;
    font-size: 0.8em;
    text-align: center;
  }
  .num{
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
  
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 1.7em;
      line-height: 1.7em;
    }
  
    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
      font-size: 2em;
      line-height: 2em;
    }
  }
  .rates{
    text-align: center;
    font-size: 0.8em;
    
  }

  .red{color:#e13a25}
  .green{color:#25e17d}
}

.field{margin-right:.1rem;font-size: .3rem;}
