@import "../../css/common.scss";

@mixin ellipsis { text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }

.marketingSelection{
  padding-top:80px;

  :global {
    @include antTab;
    .ant-tabs-bar{margin-bottom: 0;}
    .ant-tabs-tabpane{padding:0 20px;}
  }

  .tabWrap{background: #fff;margin: 20px;}

  .pageTitle{
    font-size: 18px;font-weight: normal;position:relative;line-height:100%;padding:0 0 20px 10px;
    &:before{content:'';position: absolute;left:0;height:16px;width:3px;background: #e13a25;}
  }
  .pageSubTitle{
    font-size: 16px;font-weight: normal;padding: 30px 0;position:relative;line-height:100%;padding-left:10px;height: 22px;
    &:before{content:'';position: absolute;left:0;height:16px;width:3px;background: #e13a25;}
  }

  .tableWrap{
    padding:0 10px;
    .tableTit{
      padding: 10px;
      i{margin-right:5px;}
    }
  }

  .productPosition{
    background: #fff;margin:20px;padding:0 20px 20px 20px;
    .blockTit{padding:10px 20px;background: #f1f1f1;font-size: 16px;margin: 10px 0 0 0;}
    :global{
      .vic-area-chart-area{overflow: visible;}
    }
  }

  .tablePortrait{
    background: #fff;margin:20px;padding:20px;
    :global {
      .ant-table-wrapper{margin-top:30px;}
      .ant-table-thead > tr > th{
        background: #fff;
        border-bottom: 1px solid #999;
      }
      .ant-table-tbody > tr > td{
        span{width:25px;height:25px;display: inline-block;font-size: 14px;line-height: 25px;text-align: center;color: #fff;border-radius: 50%;}
        .rank-0{background: #cf2529;}
        .rank-1{background: #435e7a;}
        .rank-2{background: #59a1a9;}
        .rank-3{background: #cca05d;}
        .indent-level-0{display: none;}
      }
      .ant-table-tbody > tr > td.blue{color:#54728C;}
    }
  }
}
