.calendarCell{
  height: 30px;
  line-height: 30px;
  color: #fc1e1e;

  /*input{border-color:transparent;background: transparent;color:#fc1e1e;}
  input[disabled]{color:#fc1e1e;}
  input:focus{border-color:#d9d9d9; background: #fff;}*/
}
