@mixin ellipsis { text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }

.stockMarketing{
  padding-top:80px;

  .pageCnt{
    margin:20px 0;
    padding:20px 10px;
    background: #fff;
    .pageTitle{
      font-size: 18px;font-weight: normal;position:relative;line-height:100%;
      padding:20px 0 20px 10px; margin:0 20px;
      &:before{content:'';position: absolute;left:0;height:16px;width:3px;background: #e13a25;}
    }
  }
}

.tableControlBar {
  text-align: right;
  padding: 20px 0;

  & > span {
    display: inline-block;
    padding-left: 20px;
  }
}

.dlgPurchasePlanList {
  padding: 20px;
}

.colSKUID {
  min-width: 100px;
  text-align: center !important;
}

.paginationWrap {text-align: center; padding-top: 20px;}