@import "../../css/common.scss";
.wrap{
  padding-top: 80px;

  .itemBlock{
    margin: 20px;
    padding: 20px;
    background: #fff;

    .pageTitle{
      font-size: 18px;font-weight: normal;position:relative;line-height:100%;padding:0 0 20px 10px;
      &:before{content:'';position: absolute;left:0;height:16px;width:3px;background: #e13a25;}
    }
  }

  .blank{
    margin-top: 20px;
  }

  .userPathChartNumber{
    .typeName{
      display: inline-block;
      font-weight: 500;
      text-align: center;
      border: 1px solid #ccc;
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      margin-right: 15px;
      padding: 0 7px;
      font-size: 12px;
      border-radius: 4px;
      height: 25px;
      line-height: 25px;
      vertical-align: middle;
    }
    .switch{
      display: inline-block;
      height: 25px;
      vertical-align: middle;
    }
    .download{
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      width: 18px;
      height: 25px;
      overflow: hidden;
      font-size: 18px;
      cursor: pointer;
    }
    .box{
      position: relative;
      z-index: 2;
      width: 100%;
      height: 420px;
      overflow: hidden;
    }
    .right{
      border-left: 1px solid #dee1e7;
      ul{
        text-align: center;
        height: 420px;
        li{
          height: 105px;
          box-sizing: border-box;
          border-bottom: 1px solid #dee1e7;
          h1{
            padding-top: 25px;
            font-size: 14px;
            font-weight: normal;
            color:#808080;
          }
          h2{
            font-size: 28px;
            line-height: 50px;
          }
        }
      }
    }
    .tableArea{
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 420px;
      background: #fff;

      :global{
        .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
          text-align: center;
        }
      }
    }
  }
  
  .userPathTopSku{
    .filterBox{
      position: relative;
      z-index: 2;
      height: 40px;

      .redAlert{
        display: inline-block;
        height: 28px;
        line-height: 28px;
        margin-left: 160px;
        color: #e13a25;
      }
    }
    :global{
      .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
        text-align: center;
      }
    }
  }

  .userPathTopSkuKeyword{
    .box{
      border: 1px solid #e9e9e9;
      box-sizing: border-box;
      width: 100%;
      height: 285px;
      overflow: hidden;
      ul{
        li{
          width: 25%;
          height: 100%;
          float: left;
          .listBox{
            height: 57px;
            border-bottom: 1px solid #e9e9e9;
            
            .line{
              height: 100%;
              border-right: 1px solid #e9e9e9;
              line-height: 57px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              span{
                display:inline-block;
                width: 19px;
                height: 19px;
                line-height: 20px;
                overflow: hidden;
                background: url(../../images/userPath.png) no-repeat 0 -57px;
                vertical-align: middle;
                margin-left: 14px;
                margin-right: 5px;
                text-align: center;
                color:#fff;
              }
              .icon1{ background-position:0 0;}
              .icon2{ background-position:0 -19px;}
              .icon3{ background-position:0 -38px;}
              i{
                display: inline-block;
                vertical-align: middle;
                width: 45%;
                margin-right: 5px;
                text-align: right;
              }
              s{
                display: inline-block;
                vertical-align: middle;
                width: 45%
              }
            }
          }
          .listBox:hover{
            background:#f6f7f9;
          }
        }
      }
    }
    .titleBox{
      border: 1px solid #e9e9e9;
      line-height: 50px;
      .line{
        box-sizing: border-box;
        border-right: 1px solid #e9e9e9;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

.url{
  display: block;
  width:100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 20px 0 0 60px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
}

.hideTable{
  display: none;
}
.showTable{
  display:block;
  animation: sliderTable 0.8s 1;
}
@keyframes sliderTable{
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.hideDownload{
  display: none!important;
  animation: unSliderDownload 0.8s 1;
}
.showDownload{
  display:block;
  animation: sliderDownload 0.8s 1;
}
@keyframes sliderDownload{
  0% { width: 0; }
  100% { width: 18px; }
}
@keyframes unSliderDownload{
  0% { width: 18px; }
  100% { width: 0; }
}

.modalView{
  .modalTitle{
    height: 35px;
    position: relative;
    z-index: 2;
  }

  .box{
    width: 100%;
    min-height: 420px;
    position: relative;
    z-index: 2;
    :global{
      .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
        text-align: center;
      }
    }
  }

  .chartArea{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 420px;
  }
}

.hideChart{
  visibility: hidden;
}
.showChart{
  visibility: visible;
  animation: sliderChart 0.8s 1;
}
@keyframes sliderChart{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

:global{
  .tdLeft{
    text-align: left;
  }
  .tdRight{
    text-align: right;
  }
}